<div class="container">
    <div class="part_A">
        <div class="texto">
            ¡Contáctame!
        </div>
    </div>
    <div class="part_BC">
        <div class="part_B">
            <div class="contactos_container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-envelope"></i> Gmail: <span>alexdaniel456&#64;gmail.com</span>
                        </a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/+51940689732" target="_blank">
                            <i class="fab fa-whatsapp"></i> WhatsApp: <span>+51940689732</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/alex-agurto-0727b4303/" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn: <span>Alex Agurto</span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="part_C">
            <div class="realizado">
                <h5 style="font-family: monospace; padding-bottom: 10px;">Esta página fue realizada con:</h5>
                <img src="/imagenes/htmlcolor.png">
                <img src="/imagenes/CssColor.png">
                <img src="/imagenes/TSColor.png">
                <img src="/imagenes/BTColor.png">
            </div>
        </div>
    </div>
</div>