<section id="inicio">
    <div class="container_total">
        <div class="about_me">
            <div class="main_info">
                <img src="/imagenes/Perfil.png">
                <div class="about_me_text">
                    <div class="alex">
                        <h1>
                            <span class="name"> Alex </span>
                            <span class="first_name"> Agurto</span> 
                        </h1>
                    </div>
                    <h2>
                        Analista Programador
                    </h2>
                </div>
            </div>
            <h3>
                <span class="h3_1">Apasionado por la tecnología 💻 </span> <span class="h3_2">| Profesional en formación 🎓 | </span> <span class="h3_3">Amante de la música 🎸 </span>
            </h3>
        </div>
        
        <div class="stack">
            <div class="stack_container">
                <div class="container_container">
                    <div class="stack_text">
                        <h1>Stack: </h1>
                    </div>
                    <div class = "stack_imagenes">
                        <img src="/imagenes/HTML.png">
                        <img src="/imagenes/CSS.png">
                        <img src="/imagenes/type.png">
                        <img src="/imagenes/javascript.png">
                        <img src="/imagenes/SQL_LOGO.png">
                        <img src="/imagenes/C.png">
                    </div>
                </div>
            </div>
    
            <a [href]="cvUrl" download class="btn btn-cv btn-lg">
                <i class="fas fa-download"></i> Descargar CV
            </a>
        </div>
    </div>
</section>