<div class="musica_container">
    <!-- Primera cancion-->
    <div class="card" style="width: auto; height: auto">
      <img src="/imagenes/allday.jpg" class="card-img-top" alt="" style="height: 200px; width: 200px;">
      <div class="card-body">
        <audio class="player" controls>
          <source src="/music.mp3" type ="audio/mp3">
        </audio>
      </div>
    </div>
    <!-- Segunda cancion-->
    <div class="card" style="width: auto; height: auto">
      <img src="/imagenes/ourtime.jpg" class="card-img-top" alt="" style="height: 200px; width: 200px;">
      <div class="card-body">
        <audio class="player" controls>
          <source src="/ourtime.mp3" type ="audio/mp3">
        </audio>
      </div>
    </div>
    <!-- Tercera cancion-->
    <div class="card" >
      <img src="/imagenes/endless.jpg" class="card-img-top" alt="" style="height: 200px; width: 200px;" >
      <div class="card-body">
        <audio class="player" controls>
          <source src="/endless.mp3" type ="audio/mp3">
        </audio>
      </div>
    </div>
    <!-- Cuarta cancion-->
    <div class="card" style="width: auto; height: auto">
      <img src="/imagenes/praise.jpg" class="card-img-top" alt="" style="height: 200px; width: 200px;" >
      <div class="card-body">
        <audio class="player" controls>
          <source src="/praise.mp3" type ="audio/mp3">
        </audio>
      </div>
    </div>
</div>