<nav class="navbar navbar-expand-lg navbar-black bg-black" >
    <div class="container">

        <a class="navbar-brand" >
            <h1>Portafolio</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)"(click)="scrollToSection('inicio')" style="font-family: VOGA;">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)" (click)="scrollToSection('sobre_mi_section')" style="font-family: VOGA;">Sobre mí</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)" (click)="scrollToSection('Proyectos')" style="font-family: VOGA;">Proyectos</a></li>
            </ul>


            <ul class="navbar-nav ms-3">
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/alex-agurto-0727b4303/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/alex.agurto.16121/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/alex_a_j98/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
