
<section id="sobre_mi_section">
  <div class="main_container">

        <div class="sobre_mi">
          <h1><span class="me">Sobre mi</span></h1>
      </div>

      <div class="tarjetas">
          <div class="card mb-3" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/imagenes/upn.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body" style="text-align: left;">
                    <h5 class="card-title">Formación Profesional</h5>
                    <p class="card-text">Estudiante de noveno ciclo en la reconocida Universidad Privada del Norte, más conocida coloquialmente por sus siglas "UPN".
                      Alumno desde el año 2021, de egreso 2025-II, de la sede de los Olivos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/imagenes/programacion.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body" style="text-align: left;">
                    <h5 class="card-title">Pasión por la programación </h5>
                    <p class="card-text">Durante mi carrera en Ingeniería de Sistemas Computacionales, desarrollé una pasión por la programación. Comencé con C# y luego amplié mis conocimientos con HTML, CSS, JavaScript y TypeScript. Mi experiencia en el mundo laboral me ha llevado a apasionarme por el desarrollo de sistemas web, y estoy emocionado por las oportunidades que el mercado ofrece.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/imagenes/pensamieno.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body" style="text-align: left;">
                    <h5 class="card-title">Creencias</h5>
                    <p class="card-text">
                      Me considero una persona que cree mucho en Dios, creo que todo es sostenido por Él y además tambien se que podemos conseguir todo con esfuerzo, pasión y trabajo.
                      El estudio y el poder resolver por la cuenta de cada uno son habilidades que como humanos debemos forjar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
        <h1><span class="me">Disfruta & Navega</span></h1>
    </div>
</section>
