/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'AUGI';
    src: url('/fonts/augi.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'VOGA';
    src: url('/fonts/VOGA.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STRAW';
    src: url('/fonts/Straw_Milky.otf');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}